Source: vala-panel-extras
Section: x11
Priority: optional
Maintainer: Konstantin P. <ria.freelander@gmail.com>
Build-Depends: debhelper (>= 9), cmake (>= 2.8.0), valac (>= 0.24.0), libgtk-3-dev (>= 3.12.0), libasound2-dev, libgtop2-dev, libxkbcommon-x11-dev, libx11-xcb-dev, libxcb-xkb-dev, libgweather-3-dev
Standards-Version: 3.9.6
Homepage: https://github.com/rilian-la-te/vala-panel-extras
Vcs-Git: https://github.com/rilian-la-te/vala-panel-extras.git
Vcs-Browser: https://github.com/rilian-la-te/vala-panel-extras

Package: vala-panel-extras-common
Architecture: all
Depends: ${misc:Depends}
Description: This is Vala Panel Extras common files.
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments

Package: vala-panel-extras-volume
Architecture: any
Enhances: vala-panel
Depends: ${shlibs:Depends}, ${misc:Depends}, vala-panel-extras-common
Description: This is Vala Panel Extras volume applet.
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments

Package: vala-panel-extras-volume-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, vala-panel-extras-volume (= ${binary:Version})
Description: This is debug information for Vala Panel Extras (volume applet)
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments

Package: vala-panel-extras-xkb
Architecture: any
Enhances: vala-panel
Depends: ${shlibs:Depends}, ${misc:Depends}, vala-panel-extras-common
Recommends: vala-panel-extras-xkb-flags
Description: This is Vala Panel Extras keyboard layout applet.
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments

Package: vala-panel-extras-xkb-flags
Architecture: all
Depends: ${misc:Depends}, vala-panel-extras-xkb
Description: This is Vala Panel Extras keyboard layout applet flags.
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments

Package: vala-panel-extras-xkb-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, vala-panel-extras-xkb (= ${binary:Version})
Description: This is debug information for Vala Panel Extras (keyboard layout applet)
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments

Package: vala-panel-extras-gtop
Architecture: any
Enhances: vala-panel
Depends: ${shlibs:Depends}, ${misc:Depends}, vala-panel-extras-common
Description: This is Vala Panel Extras gtop applet.
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments

Package: vala-panel-extras-gtop-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, vala-panel-extras-gtop (= ${binary:Version})
Description: This is debug information for Vala Panel Extras (netspeed applet)
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments

Package: vala-panel-extras-weather
Architecture: any
Enhances: vala-panel
Depends: ${shlibs:Depends}, ${misc:Depends}, vala-panel-extras-common
Description: This is Vala Panel Extras weather applet.
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments

Package: vala-panel-extras-weather-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, vala-panel-extras-weather (= ${binary:Version})
Description: This is debug information for Vala Panel Extras (volume applet)
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments

Package: vala-panel-extras-battery
Architecture: any
Enhances: vala-panel
Depends: ${shlibs:Depends}, ${misc:Depends}, vala-panel-extras-common, upower
Description: This is Vala Panel Extras battery applet.
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments

Package: vala-panel-extras-battery-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, vala-panel-extras-battery (= ${binary:Version})
Description: This is debug information for Vala Panel Extras (volume applet)
 Vala Panel Extras is small programs that can be used with
 any StatusNotifierWatcher. It may not be useful in Ubuntu,
 but very good in other environments